.input-radio-containers {
    width: 49%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 5px;
}
.radio-cards  {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.labels-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 0px;
}
.label-card {
    width: 49%;
    background-color: #007fee;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    padding: 1px 3px;
    text-align: center;
}
.forms-sections-card {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.mating-form-main-container {
    width: 100%;
    /* max-height: 100%; */
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: auto;
}
.birth-report-from-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.form-buttos-container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-features-button {
    color: #ffffff;
    font-size: 14px;
    height: 50px;
    width: 80px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1px 3px;
    margin-right: 5px;
    border-radius: 10px;
}
.birth-report-table {
    width: 100%;
    overflow: auto;
    color: #7a7b7b;
}
.birth-rport-header {
    background-color: #525bff;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
.birth-report-body-rows {
    padding: 2px 5px;
}
.animal-report-table-radios {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-is-registred-button {
    background-color: #00f6fe;
    color: #232424;
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    padding: 3px 5px;
    margin-left: 5px;
}
.form-mating-btn {
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
    background-color: #435cff;
    padding: 5px 8px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-mating-Edit-btn {
    font-size: 15px;
    font-weight: bold;
    color: #393939;
    background-color: #00eaff;
    padding: 3px 5px;
    border-radius: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-select-table-card {
    width: 100%;
    background-color: transparent;
    color: #232424;
    font-size: 12px;
    font-weight: bold;
    border: none;
}
.animal-report-records-rows {
    background-color: #e2e2e2;
    color: #232424;
    font-size: 12px;    
    padding: 2px;
}
.edit-button {
    padding: 2px 5px;
    font-size: 12px;    
    background-color: #00aeff;
    color: #ffffff;
    border-radius: 5px;
}
.delete-btn {
    padding: 2px 5px;
    font-size: 12px;    
    background-color: #ff0000;
    color: #ffffff;
    border-radius: 5px;
}
.status-cards-container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}